* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* HEADER */
header {
  background: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

/* FILTERS */
.filters {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 20px;
  background: #fff;
}

.filters input,
.filters select,
.filters button {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filters button {
  background: #282c34;
  color: #fff;
  cursor: pointer;
}

/* PRODUCT GRID */
.product-grid {
  display: grid;
  gap: 1.2rem;
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
}

.product-card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-card h3 {
  font-size: 1.1rem;
  margin: 10px 0;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.close-btn {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
